<!-- Button trigger modal -->
<a href="#exampleModal">
  <img
    src="img/edit.svg"
    alt="lixo"
    width="20"
    height="20"
    data-bs-toggle="modal"
    data-bs-target="#exampleModal-<%= professor._id %>"
  />
</a>
<!-- Modal -->
<div
  class="modal fade"
  id="exampleModal-<%= professor._id %>"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">
          <h3>Altere os dados necessários</h3>
        </h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <form action="/professores/update/<%= professor._id %>" method="POST">
          <div class="row">
            <div class="col-md-8">
              <div class="form-group form-floating mb-3">
                <input
                  class="form-control"
                  id="professor/nome"
                  name="nome"
                  value="<%= professor.nome %>"
                />
                <label for="floatingInput">Nome</label>
              </div>
            </div>
            <div class="col-md-4">
              <div class="form-group form-floating mb-3">
                <select
                  class="form-control"
                  id="nacionalidadeSelect"
                  name="nacionalidade"
                >
                  <option selected disabled>
                    <%= professor.nacionalidade %>
                  </option>
                  <option>Brasileira</option>
                  <option>Outra</option>
                </select>
                <label for="nacionalidadeSelect">Nacionalidade</label>
              </div>
            </div>
          </div>
          <div class="form-group form-floating mb-3">
            <select class="form-control" id="tituloSelect" name="titulo">
              <option selected disabled><%= professor.titulo %></option>
              <option>Graduação</option>
              <option>Mestrado</option>
              <option>Doutorado</option>
            </select>
            <label for="tituloSelect">Título</label>
          </div>

          <div class="form-floating mb-3">
            <input
              class="form-control"
              id="professor/departamento"
              name="departamento"
              value="<%= professor.departamento %>"
            />
            <label for="floatingInput">Departamento:</label>
          </div>

          <div class="form-floating mb-3">
            <input
              class="form-control"
              id="professor/especialidade"
              name="especialidade"
              value="<%= professor.especialidade %>"
            />
            <label for="floatingInput">Especialidade:</label>
          </div>

          <div class="d-grid gap-2">
            <button class="btn btn-primary" type="submit">Atualizar</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
