<div class="tabela">
  <table class="table">
    <thead>
      <h2>Campus registrados</h2>
      <tr>
        <td>Nome</td>
        <td>Departamento</td>
        
        <td>Cidade</td>
        <td>Estado</td>
        <td>Bairro</td>

        <td>Carga horária (horas)</td>
        <td>Área de atuação</td>
        <td>Turno</td>
        <td>Tipo</td>
        <td>Duração (semestres)</td>
        <td>Ação</td>
    </tr>
    </thead>
    <tbody>
      <% cursos.forEach(function(cursos) { %>
        <tr>
            <td><%= cursos.nome %></td>
            <td><%= cursos.departamento %></td>
            <td><%= cursos.cidade %></td>
            <td><%= cursos.estado %></td>
            <td><%= cursos.bairro %></td>

            <td><%= cursos.cargaHoraria %></td>
            <td><%= cursos.area %></td>
            <td><%= cursos.turno %></td>
            <td><%= cursos.tipo %></td>
            <td><%= cursos.duracao %></td>
            
            <td><%- include('./modal.ejs', {cursos: cursos}) %> - <a href="/cursos/delete/<%= cursos._id %>">Deletar</a></td>
        </tr>
       
        <% }) %>
    </tbody>
  </table>
</div>
